*{
    margin: 0;
    padding: 0;
}
.item img{
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 1.2s ease-in-out;
  }
  
  .item img:hover{
    transform: scale(1.0);
  }
  
  .item h4{
    padding-top: 30px;
    /* padding: 5px; */
    margin-top: 25px;
    margin-left: 280px;
    /* text-align: left; */
    text-transform: uppercase;
  }
  
  .item button{
    padding: 5px 30px;
    border: 2px;
    outline: auto;
    background-color: lavender;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
  }
  